<md-toolbar class="blkbar" (scroll)="onScroll($event)">
    <span>  </span>
  </md-toolbar>
<!--   <div (swipe)="onSwipe($event)">Swipe (direction = {{swipeDirection}})</div>
<div (pinch)="onPinch($event)">pinch (scale = {{pinchScale}})</div>
<div (rotate)="onRotate($event)">Rotate (angle = {{rotateAngle}})</div> -->
<div *ngIf="bay" >
  <md-card class="cvimg" >
  <img md-card-image src="{{bay.cover}}" [style.width]="'110%'">
  </md-card>
  <md-card (scroll)="onScroll($event)">
<!--   <md-tab-group>
    <md-tab label="故事" > -->
      <md-card class="work-card"  *ngFor="let story of bay.storys" [@selectCard]="story.flag" >
        <md-card-header>
          <div md-card-avatar class="example-header-image" [style.background-image]="'url(' + story.avatar + ')'" *ngIf="story.avatar"></div>
          <md-card-title>{{story.title}}</md-card-title>
          <md-card-subtitle>{{story.role}} {{story.starttime}}</md-card-subtitle>
          <button *ngIf="story.visitors" md-icon-button class="vistright" [disabled]="true">
            <md-icon >visibility</md-icon><span>{{story.visitors.length}}</span>
          </button>
        </md-card-header>
        <img md-card-image [style.height]="goldHeight+'px'" src="{{story.cover}}">
        <md-card-content style="white-space: pre-line;">
          <h5 *ngIf="story.flag!=='active'">{{story.subtitle}}</h5>
          <p *ngIf="story.flag==='active'">
            {{story.description}}
          </p>
        </md-card-content>
        <md-card-actions [style.text-align]="'right'">
          <button *ngIf="story.ownerid===user.id" md-button (click)="deleteStory(story,user)">删除 </button>
          <button *ngIf="story.subtitle!==story.description" md-button (click)="selectCard(story)">
            <span *ngIf="story.flag==='inactive'">展开</span>
            <span *ngIf="story.flag!=='inactive'">收起</span>
          </button>
          <button  md-icon-button (click)="gotoStory(story)">
            <md-icon color="primary">comment</md-icon>
            
            <span *ngIf="story.comments">{{story.comments.length}}</span>
          </button>
          <button  md-icon-button (click)="like(story)" [disabled]="likeDone(user,story)">
            <md-icon *ngIf="!likeDone(user,story)" color="primary">favorite_border</md-icon>
            <md-icon *ngIf="likeDone(user,story)" color="primary">favorite</md-icon>
            
            <span *ngIf="story.likes">{{story.likes.length}}</span>
          </button>
        </md-card-actions>
      </md-card>
<!--     </md-tab>
  </md-tab-group> -->
  </md-card>
  <div class="fabbtn" *ngIf="this.user.badge===0">
    <button md-fab  (click)="gotoShare()"><md-icon>add</md-icon></button>
  </div>
</div>
<md-toolbar class="hometop" color="primary" >
  <h5 *ngIf="bay">
    {{bay.name}}
  </h5>
  <span [style.width]="'100%'" >
  <nav >
    <button [style.float]="'right'" md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_horiz</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <a  routerLink="/profile" routerLinkActive="active">
    <button md-menu-item>
      <md-icon>content_paste</md-icon>
      <span>个人</span>
    </button>
    </a>
    <a  routerLink="/recycle" routerLinkActive="active">
    <button md-menu-item>
      <md-icon>autorenew</md-icon>
      <span>回收站</span>
    </button>
    </a>
    <button md-menu-item (click)="changeMode(user.nightmode)">
      <md-icon *ngIf="!user.nightmode">brightness_4</md-icon>
      <span *ngIf="!user.nightmode">夜晚模式</span>
      <md-icon *ngIf="user.nightmode">brightness_5</md-icon>
      <span *ngIf="user.nightmode">日间模式</span>
    </button>
    <button md-menu-item (click)="logOut($event)">
      <md-icon >reply_all</md-icon>
      <span>退出</span>
    </button>
  </md-menu>
</nav>
</span>

</md-toolbar>