.cvimg {
    height: 100px;
    overflow: hidden;
}

.skillbar{
	width: 100%;
	right: 0;
	position: absolute;
}

.skills{
	width: 60%;
	right: 0;
	position: absolute;
}

.skillcard{
	
	left:  5%;
	position: absolute;
}

.work-card{
	margin: 10px 0;
/*	height: 400px;*/
}


[md-card-image]{

/*	max-width: 350px;*/
	overflow: hidden;
/*	background-size: 100% auto; 
	width: 100%;*/
}

.fabbtn{
   float: right;
   position: absolute;
    right: 30px;
    top: 180px;
}

.work-img{
	max-height: 150px;
}

.example-header-image {
/*  background-image: url('../assets/img/mic.jpg');*/
  background-size: cover;
  width: 40px;
  border-radius: 50%;
}

.rightbtn{
    position: absolute;
    right: 0px;
}