
<div class="login" [style.height]="innerHeight+'px'">
  <md-toolbar color="primary" >
  <h3> 登录</h3><button md-button (click)="signup()" [style.float]="'right'">注册</button>
  </md-toolbar>

  <md-sidenav-container [style.height]="'inherit'" [style.font-size]="'large'">
  <br>
  <form role="form" (submit)="login($event, userin.value, passwordin.value)">
  <div class="form-group">
  <label for="userin"></label>
    <md-input-container [style.width]="'80%'">
    
    <input mdInput type="text" #userin class="form-control" id="userin" placeholder="用户名" value={{user.name}}>

    </md-input-container>
  <BR><label for="password"></label>
    <md-input-container [style.width]="'80%'" >
    <input mdInput type="password" #passwordin class="form-control" id="passwordin" placeholder="密码" value={{user.password}} >
    </md-input-container>
  </div>
  <p>记住密码<md-checkbox class="rmps" [(ngModel)]="remember" [ngModelOptions]="{standalone: true}"></md-checkbox></p>
  
  <p ><button md-raised-button type="submit" [style.width]="'80%'" [style.border-radius]="'20px'">提交</button></p>
    
    </form>

  <div class="footer">
  <a href="http://www.miibeian.gov.cn/" target="_blank" [style.color]="'rgb(174, 189, 201)'">鄂ICP备16011715号-1</a>
  </div>
  </md-sidenav-container>
  
</div>

