<div class="signup jumbotron center-block" *ngIf="user">
  <h3><button md-icon-button (click)="goBack()"><md-icon>keyboard_arrow_left</md-icon></button>个人</h3>
  <md-card  >
        <md-card-header>
          <div md-card-avatar class="example-header-image" [style.background-image]="'url(' + user.avatar + ')'"></div>
          <md-card-title>{{user.nickname}}</md-card-title>
          <md-card-subtitle>{{user.role}} {{user.name}}</md-card-subtitle>
          <md-input-container>
            <input mdInput type="text" #bayidin [(ngModel)]="user.invitekey" placeholder="邀请码">
          </md-input-container>
          <md-chip *ngIf="user.on_err && user.err_msg.invitekey_err" color="warn" selected="true">{{user.err_msg.invitekey_err}}</md-chip>
        </md-card-header>
        <md-card-content>
          <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="single">头像</label>
                    <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="useruploader" />                                  
                </div>            
            </form>
            <div *ngFor="let item of useruploader.queue">
            <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button><span *ngIf="item.isSuccess">上传成功</span>
                        </div>
        </div>
        </md-card-content>
        <md-card-actions>
          <!-- <button md-button (click)="selectCard(story)">更多</button> -->
          <button md-button (click)="updateUser(user)">修改 </button>
        </md-card-actions>
  </md-card>

  <md-card *ngIf="newbay">
    <md-card-header>新的港口</md-card-header>
    <md-input-container>
      <input mdInput type="text" #newbayname [(ngModel)]="newbay.name" placeholder="名称">
    </md-input-container>
    <md-input-container >
      <input mdInput type="text" #newbayinv [(ngModel)]="newbay.invitekey" placeholder="邀请码">
    </md-input-container>

    <div class="col-md-4">
    <form>
        <div class="form-group">
            <label for="single">封面</label>
            <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="newuploader" />                                  
        </div>            
    </form>
    <div *ngFor="let item of newuploader.queue">
    <button type="button" class="btn btn-success btn-xs"
                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
    </button>
    <span *ngIf="item.isSuccess">上传成功</span>
    </div>
  </div>
  <md-card-actions>
          <!-- <button md-button (click)="selectCard(story)">更多</button> -->
          <button md-button (click)="addBay(newbay)">修改 </button>
          <md-chip *ngIf="newbay.on_err && newbay.err_msg" color="warn" selected="true">{{newbay.err_msg}}</md-chip>
        </md-card-actions>
  </md-card>

  <md-card *ngIf="bay">
    
    <md-card-header>
          <div md-card-avatar class="example-header-image" ></div>
          <md-card-title>{{bay.name}}</md-card-title>
          <md-card-subtitle>{{bay.id}} {{bay.creater}} {{bay.starttime}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="{{bay.cover}}" [style.width]="'100%'">
    <md-card-header>
            <md-card-subtitle>{{bay.id}} {{bay.creater}} </md-card-subtitle>
    </md-card-header>
    <md-input-container *ngIf="user.id===bay.createrid">
      <input mdInput type="text" #bayinv [(ngModel)]="bay.invitekey" placeholder="邀请码">
    </md-input-container>
    <button md-botton (click)="updateBay()"> 保存 </button>
    <div class="col-md-4">
      <form>
          <div class="form-group">
              <label for="single">封面</label>
              <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />                                  
          </div>            
      </form>
      <div *ngFor="let item of uploader.queue">
      <button type="button" class="btn btn-success btn-xs"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Upload
      </button>
      <span *ngIf="item.isSuccess">上传成功</span>
      </div>
    </div>
  </md-card>

  <md-card *ngIf="joinbay">
    
    <md-card-header>
          <div md-card-avatar class="example-header-image" ></div>
          <md-card-title>{{joinbay.name}}</md-card-title>
          <md-card-subtitle>{{joinbay.id}} {{joinbay.creater}} {{joinbay.starttime}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="{{joinbay.cover}}" [style.width]="'100%'">
    <md-card-header>
            <md-card-subtitle>{{joinbay.id}} {{joinbay.creater}} </md-card-subtitle>
    </md-card-header>
    <md-input-container >
      <input mdInput type="text" #joinbayinv [(ngModel)]="joinbay.invitekey" placeholder="邀请码" readonly="readonly">
    </md-input-container>

  </md-card>

  <div class="fabbtn">
      <button md-fab md-fab-bottom (click)="add()"><md-icon>add</md-icon></button>
  </div>
</div>
<md-chip-list>
</md-chip-list>