<div *ngIf="story">
  <md-card>
   <form >
  	<md-input-container class="share-full-width">
       <input mdInput placeholder="标题"  [(ngModel)]="story.title" name="title">
  	</md-input-container>
  	   <md-input-container class="share-full-width">
          <textarea mdInput rows="10" placeholder="我的故事" [(ngModel)]="story.description" name="description">
          	
          </textarea>
       </md-input-container>

              <div class="form-group">
                  <label for="single">封面</label>
                  <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />                                  
              </div>            

          <div *ngFor="let item of uploader.queue">
          <button type="button" class="btn btn-success btn-xs"
                              (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                          <span class="glyphicon glyphicon-upload"></span> Upload
          </button>
          <span *ngIf="item.isSuccess">上传成功</span>
          </div>
                          
 
   </form>
   <button md-botton (click)="goBack()"> 返回 </button>
   <button md-botton (click)="save()"> 保存 </button>
  </md-card>
</div>
