<div *ngIf="story" >
  <md-card class="cvimg">
    <img md-card-image src="{{story.cover}}" [style.width]="'100%'">
  </md-card>
    <md-card  >
        <md-card-header>
          <div md-card-avatar class="example-header-image" [style.background-image]="'url(' + story.avatar + ')'" ></div>
          <md-card-title>{{story.title}}</md-card-title>
          <md-card-subtitle>{{story.role}} {{story.starttime}}</md-card-subtitle>
        </md-card-header>
        <md-card-content style="white-space: pre-line;">
          <br>
          <h5>{{story.subtitle}}</h5>
          <p>
            {{story.description}}
          </p>
        </md-card-content>
        <md-card-actions>
<!--           <button md-button (click)="deleteStory(story.id,user)">更多</button> -->
          <button md-button (click)="addComment(story)">评论 </button>
          <button *ngIf="story.ownerid===user.id" md-button (click)="deleteStory(story,user)">删除 </button>
        </md-card-actions>
      </md-card>
  <div *ngIf="newcomment">
    <form >
<!--    <md-input-container class="share-full-width">
       <input mdInput placeholder="标题"  [(ngModel)]="story.title" name="title">
    </md-input-container>
    <md-input-container class="share-full-width">
       <input mdInput placeholder="副标题"  [(ngModel)]="story.subtitle" name="subtitle">
    </md-input-container> -->
       <md-input-container class="share-full-width">
          <textarea mdInput placeholder="评论" [(ngModel)]="newcomment.comment" name="newcomment">
            
          </textarea>
       </md-input-container>
   </form>
<!--    <button md-botton (click)="goBack()"> 返回 </button> -->
   <button md-botton (click)="saveComment()">保存</button>

  </div>
  
  <md-card *ngFor="let cmt of story.comments">
    <md-card-header>
          <div md-card-avatar class="example-header-image" [style.background-image]="'url(' + cmt.avatar + ')'"></div>
          <md-card-title>{{cmt.title}}</md-card-title>
          <md-card-subtitle>{{cmt.role}} {{cmt.starttime}}</md-card-subtitle>
        </md-card-header>
    <md-card-content>
          <p>
            {{cmt.comment}}
          </p>
        </md-card-content>
  </md-card>

</div>
<md-toolbar class="topbar">
  <h3><button md-icon-button (click)="goBack()"><md-icon>keyboard_arrow_left</md-icon></button></h3>
</md-toolbar>